*{ 
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    scroll-behavior: smooth;
    }

h1,
h2,
h3,
h4,
h5,
h6,

body {
    overflow-x: hidden;
    max-width: 1920px;
}   

/* Header donc navbar*/

header {
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.582);
    position:fixed;
    z-index: 3;
}


header .container {
    width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding:0px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}

header .container ul{
    display: flex;
    align-items: center;
    font-size: 20px;
}

header .container ul a{

    font-size:1em ;
    color: rgb(161, 11, 11);
    z-index: 3;
    margin: 0 20px;
}


@media screen and (max-width: 900px) {
    
    .container .menu{

        position: absolute;
        bottom: 50px;
        right: 10px;
    }


    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.322);
        backdrop-filter: blur(7px);
        width: 100%;
        height:100vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
}


    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .nav-links ul li{
        margin: 25 0px;
        font-size: 1em;
    }
}



@media (min-width: 900px){

    .container .menu{
        display: none;
        position: absolute;
        top: 0;
        right: 10px;
    }



}






/* Navbar petite image */
@media (max-width: 1500px){
    
    
    
    
    header{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.582);
        font-size: 100px;
    }
    .container .menu{
        position: absolute;
        top: 0;
        right: 10px;
    }



}




/* Texte Partie 1 petite image */

    header .container {
    width: 100%;
}




    .container .nav-links ul li{
        margin:25px 0 ;
        font-size: 1.5em;
    }


/* Section 1*/
/* Partie 1 petite image */
@media (max-width: 1500px){
    .sec1 {
        height: 100vh;
        width: 100%;
        font-size: 7px;
        background-image: url(images/tarkov.jpg);
        background-repeat:no-repeat; 
        background-position: center;
    }

}
/* Partie 1 grosse image */
@media (min-width: 1500px){

    .sec1 {
        height: 100vh;
        width: 100%;
        background-image: url(images/tarkov.jpg);
        background-repeat: no-repeat;
        background-position:center;
    }
}

.sec1 h1 {
    color: rgb(255, 255, 255);
    font-size: 6em ;
    margin-bottom: 90px;

}

 button {
    height: 100px;
    width: 300px;
    border-radius: 50px;
    background-color: rgba(29, 21, 21, 0.445);
    border: none;
    font-size: 1.6em;
    color:rgb(255, 255, 255);

    padding-bottom: 100px;
    
}

.sec1 h2{
    color: rgb(255, 255, 255);
    font-size: 6em ;
    margin-bottom: 70px;

}

.sec1 h3 {
    color: rgb(255, 255, 255);
    font-size: 5em ;
    margin-bottom: 70px;

}


/* Section 2 */


@media (max-width: 1500px){

    .sec2 {
        height: 100vh;
        width: 100%;
        background-image: url(images/bear.jpg);
        background-repeat: no-repeat;
        background-position:center;
        font-size: 6px;


    }
}


@media (min-width: 1500px){

    .sec2 {
        height: 100vh;
        width: 100%;
        background-image: url(images/bear.jpg);
        background-repeat: no-repeat;
        background-position:center;
        font-size: 12px;
    }
}


.sec2 h1{
    color: white;
    font-size: 6em;
}

/* Section 3 */
.sec3{
    height: 100vh;
    width: 100%;
    z-index: 2;
}



#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
    }
    
#Titre_2{
    color: rgb(141, 24, 24);
    font-size: 10em ;
    margin-top: 0px;
}
    


#Titre_3{
    color: rgb(141, 24, 24);
    font-size: 10em ;
    margin-top: 0px;
}


#Titre_4{
    color: rgb(141, 24, 24);
    font-size: 10em ;
    margin-top: 0px;
}
#Titre_5{
    color: rgb(141, 24, 24);
    font-size: 10em ;
    margin-top: 0px;
}


/* Section 4 */

@media (max-width: 1500px){

    .sec4 {
        height: 100vh;
        width: 100%;
        background-image: url(images/usec.png);
        background-repeat: no-repeat;
        background-position:center;



    }
}
.sec4 h1{
    color: rgb(0, 0, 0);
    font-size: 5em;
    text-align: center;
    text-align: top;

}

@media (min-width: 1500px){

    .sec4 {
        height: 100vh;
        width: 100%;
        background-image: url(images/usec.png);
        background-repeat: no-repeat;
        background-position:top;
    }

    .sec4 h1{
        color: rgb(0, 0, 0);
        font-size: 6em;
        text-align: center;

    }

}


p{
    font-size: 3em;
    color: white;
    z-index: 2;
    margin-bottom: 150px;
}

dl{

 justify-content: left;
 padding-left: 0%;
 color: rgba(255, 255, 255, 0);
 font-size: 2em;
}





/* Sec5  formulaire */


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}


